# Environment variables
# Frontend
FRONTEND_PORT=3000

# Discord/API server
DISCORD_SERVER_PORT=4000
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

# Realtime server
REALTIME_SERVER_PORT=5000

# Node-RED
NODE_RED_PORT=1880
