[submodule "packages/bloomseed-assets"]
	path = packages/bloomseed-assets
	url = https://github.com/NNTin/bloomseed-assets.git
[submodule "packages/debug-assets"]
	path = packages/debug-assets
	url = https://github.com/NNTin/debug-assets.git
[submodule "packages/donarg-office-assets"]
	path = packages/donarg-office-assets
	url = https://github.com/NNTin/donarg-office-assets.git
[submodule "packages/public-assets"]
	path = packages/public-assets
	url = https://github.com/NNTin/towncord-assets-export.git
